{% extends 'base.html' %}

{% block conteudo %}

<link rel="stylesheet" type="text/css" href="/static/css/aluno.css"> 
<div class="container">
	<nav class="navegacao">
		<ul>
			<h1>MEUS CURSOS</h1>
			<li><a href="#"></a>Curso 1</li>
			<li><a href="#"></a>Curso 2</li>

			<h1>MINHA CONTA</h1>
			<li><a href="{% url 'editar-conta' %}"> Alterar conta</a></li>
			<li><a href="{% url 'editar-senha' %}">Alterar Senha </a></li>
			<li><a href="{% url 'EAD' %}">EAD</hr></a></li>
		</ul>

	</nav> 
</div>	  

{% endblock %}