{% extends 'base.html' %}
{% block conteudo %}


		<section>
			<div class="container">
				<div class="cadastro-page">
					<div class="formulario">
						<p class="texto">Cadastro Curso</p></br>
						<form class="login-formulario" action="#" method="post">
							<input class="formatacao-campo" type="text" placeholder="Professor responsável"/>
							<input class="formatacao-campo" type="text" pattern="[0-9-]+" maxlength="4" required placeholder=" Horas mensais	"/>
							placeholder="Telefone"/>
							<input class="btn-formulario" type="submit" value="Enviar">
								<input class="btn-formulario" type="reset" value="Apagar Campos">
						</div>

							</form>	
							
						</div>
					</div>
				</div>	

			</section>		 
	<!--Fim_Corpo-->

{%endblock%}