{% extends 'base.html' %}
{% block conteudo %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<link rel="stylesheet" type="text/css" href="/static/css/detalhe_curso.css">
		
		<!--corpo_inicio-->	
		
		<section class="corpo"> 
			<figure class="imagemtopodisciplinas2">
				<h1 class="titulodisciplinas">{{curso}}</h1>
				<img class="enead" src="/static/img/enead.png" height="65" width="60" alt="enead_3_lugar">
			</figure>	 	
				<article class="txt_sobre_curso">
					<h1>SOBRE O CURSO</h1></br>
						{{curso.sobre }}

				</article>	
				
				<form class="contato" action="#" method="post">
					<div class="formulario">
						<div class="head">
							<h2>Fale Conosco</h2>
						</div>

						<input type="text" name="name" placeholder="Nome" /><br />
						<input  type="email" name="email" placeholder="Email" /><br />
						<input  type="email" name="text" placeholder="Assunto" /><br />
						<textarea type="text" name="mensagem" placeholder="Mensagem"></textarea><br />
						<div class="message"></div>
						<button id="enviar" type="submit">Enviar</button>
					</div>
				</form>	
				
				<a class="btn_consulte_grade" href="disciplinas.html"> 
					  Consulte nossa Grade
				</a>

			</section>	
		<!--corpo_fim-->
		
		{%endblock%}