{% extends 'base.html' %}
{% block conteudo %}
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
		<!--Inicio_Corpo-->	
		<section>

			<div class="login-page">
				<div class="form" action="#" method="post">
					<form class="login-form">
						<input type="text" placeholder="R.A ou E-mail"/>
						<input type="password" placeholder="Digite sua nova senha"/>
						<input type="password" placeholder="Digite novamente"/>
						<button>Resetar senha</button>
					</form>
				</div>
			</div>
				

		</section> 
{%endblock%}