{% extends 'base.html' %}
{% block conteudo %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">

<section class="page_content">		
				<article class="banner_principal" alt="banner-principal">
						<span class="texto_banner">
							<h1><p>Vestibular <span class="cor_padrao">2018</span></br></h1>
								<h2>De o seu Show!</h2>
							</br>
							Venha inovar, iventar e fazer o futuro acontecer</br>
							a tecnologia está em você!</p>
						</span>	
				</article>

			<iframe class="video"src="https://www.youtube.com/embed/6CtpaYVB-Rs" 
			frameborder="0" allowfullscreen></iframe>
	
			<article class="noticias01">
			<ul>
				<li></li>
			</ul>
			</article>

			<article class="noticias02 centralizar_elemento">
			<ul>
				<li><img src="/static/img/carro.png">
					<a href="https://www.fiap.com.br/2017/07/13/entrando-na-era-dos-carros-autonomos/">
						<p class="postagem">
						<p><strong>Entrando na era dos carros autônomos</strong></p>
						<p>Acompanhe a corrida para vender esta tecnologia</p>
					</a>	
				</li>
				
				<li><img src="/static/img/humano.png">
					<a href="https://www.fiap.com.br/2017/07/12/humano-x-robo/"><p class="postagem">
						<p><strong>Humano X Robô</strong></p>
						<p>Quer ver como um robô consegue trabalhar</br> com criatividade?</p>
					</a>
				</li>
			</ul>
			</article>
			
			<article class="sobre_fiap">
				<h2>Sobre a Fiap</h2>
				<p>A FIAP é o centro de excelência em tecnologia mais respeitado do país.</br>
				Uma história que vem sendo construída dia após dia, estimulando mentes a vivenciarem a inovação</br>
				e o empreendedorismo. Porque a FIAP acredita no poder transformador da tecnologia.</br>
				Um poder que, aliado à criatividade, inventa, muda, inquieta. Faz as pessoas buscarem soluções</br>
				que nunca foram pensadas. Tudo isso para construir um mundo melhor.</br>
				<h3 class="cor_padrao">FIAP.  O  NOVO  É  AQUI.</h3></p>
			</article>

			<article class="noticias03 centralizar_elemento">
			<ul>
				<li><img src="/static/img/graduacao.jpg">
					<a href="https://www.fiap.com.br/graduacao/">
						<p class="postagem">
						<p><strong>GRADUÇAO PRESENCIAL E ON-LINE</strong></p>
						<p>17 Cursos Premiados nas Áreas de Inovaçao,<br>Tecnologia e Negócios</p>
					</a>	
				</li>
				
				<li><img src="/static/img/shift.png">
					<a href="https://www.fiap.com.br/shift/"><p class="postagem">
						<p><strong>CURSOS DE CURTA DURAÇAO</strong></p>
						<p>Mais de 50 cursos na área<br> de tecnologia, inovaçao e negócios.</p>
					</a>
				</li>
			</ul>
			</article>

		</section> 
		<!--Fim_Corpo-->
{%endblock%}		