{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
		
		<!--Inicio_Corpo-->	
		<section class="page_content_cursos">	
			
			<article class="banner_cursos">
	
				<div>
					<img class="img_rock" src="/static/img/banner_cursos.png">
						<span class="txt_banner">		
							<h2>GRADUAÇÃO PRESENCIAL E ON-LINE</h2>
							<h3>VAGAS LIMITADAS</h3>	
						</span>	
				</div>
			
			</article>	

			{%for curso in cursos%}		
			<li>
				<article class="lista_cursos01">
					<a href="detalhe_de_cursos.html">
						{% if curso.imagem %}
							<img src="{{curso.imagem.url}}" alt="{{curso.nome}}"> 
								<strong class="txt_cursos">{{curso.nome}}</strong>
						{%else%}
							<img src="{% static 'img/sem-imagem.png' %}" alt="{{ course.name }}" />
								<strong class="txt_cursos">{{curso.nome}}</strong>
           				{% endif %} 	
					</a>	

				</article>

			

							
			</li>
						
			{%endfor%}			
					
		</section> 
		
		<!--Fim_Corpo-->
{%endblock%}	
