{% extends 'base.html' %}
{% block conteudo %}
		
		<!--Inicio_Corpo-->	
		<section class="page_content_cursos">	
			
			<article class="banner_cursos">
	
				<div>
					<img class="img_rock" src="/static/img/banner_cursos.png">
						<span class="txt_banner">		
							<h2>GRADUAÇÃO PRESENCIAL E ON-LINE</h2>
							<h3>VAGAS LIMITADAS</h3>	
						</span>	
				</div>
			
			</article>	

			{%for curso in cursos%}		
			<li>
				<article class="lista_cursos01">
					<a href="detalhe_de_cursos.html">
						<img src="/static/img/adm.jpg"> 
						<strong class="txt_cursos">{{curso.nome}}</strong>
					</a>
				</article>
			</li>
			{%endfor%}			
					
					
			<!--	<article class="lista_cursos02">
					<a href="detalhe_de_cursos.html">
						<img src="/static/img/ads.jpg">
							<strong class="txt_cursos">Analise e Desenvolvimento</strong>
					</a>	
				</article>

				<article class="lista_cursos03">
					<a href="detalhe_de_cursos.html">
						<img src="/static/img/bd.jpg">
							<strong class="txt_cursos">Banco de dados</strong>
					</a>	
				</article>
				
				<article class="lista_cursos04">
				<a href="detalhe_de_cursos.html">
					<img src="/static/img/gpg.jpg">
						<strong class="txt_cursos">Graduação em Gestão da</br> Tecnologia</strong>
					</a>	
				</article>
			
			Conteudo_Cursos02

				<article class="lista_cursos05"><a href="detalhe_de_cursos.html">
						<img src="/static/img/gti.jpg">
						 <strong class="txt_cursos">Gestão de tecnologia da</br>  informação</strong>
					</a>	
				</article>
				
				<article class="lista_cursos06"><a href="detalhe_de_cursos.html">
						<img src="/static/img/jgs.jpg">
							<strong class="txt_cursos">Jogos digitais</strong>
					</a>	
				</article>

				<article class="lista_cursos07"><a href="detalhe_de_cursos.html">
					<img src="/static/img/graduacao-em-redes-de-computadores.jpg">
						<strong class="txt_cursos">Redes</strong>
					</a>	
				</article>
				
				<article class="lista_cursos08"><a href="detalhe_de_cursos.html">
						<img src="/static/img/multimidia.jpg">
							<strong class="txt_cursos">Graduação em produção<br/> multimídia</strong>
						</a>	
				</article>

				<a class="cadastre_curso" href="cadastro_curso.html">
						<strong class="txt_cadastro_curso">Cadastre um novo curso</strong>
				</a>	
			-->
		</section> 
		
		<!--Fim_Corpo-->
{%endblock%}	
