{% extends 'base.html' %}
{% block conteudo %}	

	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
		
		<!--Inicio_Corpo-->	
		<section>

			<div class="login-page">
				<div class="form">
					<form class="login-form" action="" method="POST">	
						<p class="texto">Login</p></br>
        						{{ form.as_p}}
        						{% csrf_token %}
        					<input type="submit" name="entrar" id="btn_entrar" value="Conectar"/>

						<p class="senha_mensagem">Esqueceu sua senha ? <a href="{% url 'editar-senha' %}">Clique aqui!</a></p> 
						
					</form>
				</div>
			</div>
			

		</section> 
		<!--Fim_Corpo-->
{% endblock %}					

